*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% auto ;
  grid-template-columns: 15% auto;
  grid-template-areas:
    "a h"
    "a m";
}

.app > * {
  border: 1px solid;
}

.app > header {
  grid-area: h;
}

.app > aside {
  grid-area: a;
}

.app > main {
  grid-area: m;
}

.full{
  height: 100%;
  width: 100%;
}